<%= render 'partials/tempnav' %>
<div class="container">
  <div class="row">
    <div class="span4">
      <h3><%= "#{@member.first_name} #{@member.last_name}" %></h3>
      <p><%= @member.street_address %><br>
      <%= "#{@member.city}, #{@member.state} #{@member.zip}" %><br>
      <%= @member.phone %><br>
      <% if @member.alt_phone.present? %>
      <%= @member.alt_phone %><br>
      <% end %>
      <%= mail_to @member.email %></p>
      <h4>Notes:</h4>
      <%= @member.notes %>
      <br>
      <h3>Group:</h3> 
        <h4><%= link_to @member.group.name, group_path(@group) %></h4>
      <br>
      <h3>Group Members:</h3>
      <% for member in @member_list %>
        <h4><%= link_to "#{member.first_name} #{member.last_name}", group_member_path(@group, member) %></h4>
      <% end %>
    </div>
    <div class="span8">
      <!-- FUNDS -->
      <div class="row">
        <div class="span3">
          <h3>Trip Cost: <%= number_to_currency @member.group.trip_cost %></h3>
        </div>
        <div class="span5">
          <h3 class="pull-right">
            <% if @member.payments.sum(:amount) >= @member.group.trip_cost %>
            Funds Raised
            <% else %>
            Funds Needed: <%= number_to_currency @member.calculate_funds %>
            <% end %>
          </h3>
        </div>
      </div>

      <h4><%= link_to "Add Gift" %></h4>

      <%= form_for([@group, @member, @member.payments.build]) do |f| %>
        <%= f.text_field :date, class: "datepicker", placeholder: "Date Recieved" %>
        <%= f.text_field :amount, placeholder: "Gift Amount" %>
        <%= f.select :payment_method, ['Check', 'Cash', 'Card'], prompt: "Select Gift Type" %>
        <%= f.text_field :notes, placeholder: "Notes" %>
        <%= f.submit "Add Payment", class: "btn" %>
      <% end %>
      <% if @payments.present? %>
      <table class="table table-hover">
      <% for payment in @payments %>
        <tr>
          <td>
            <p><%= payment.date %></p>
          </td>
          <td>
            <p><%= payment.payment_method %></p>
          </td>
          <td>
            <p><%= payment.notes %></p>
          </td>
          <td>
            <h4 class="pull-right"><%= number_to_currency payment.amount %></h4>
          </td>
        </tr>
      <% end %>
      </table>
      <% else %>
      No gifts have been received.
      <% end %>

         
    </div>
  </div>
</div>





